body {
    background-color: rgba(158, 185, 239, 0.837);
}

.container-mensaje {
    background-color: #cfe1f6;
    width: 80%;
}

.container-lenguajes {
    background-color: #cfb5fb;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
}

h4 {
    color: black;
}