body {
    background-color: rgba(181, 141, 218, 0.837);
}

.container-mensaje {
    background-color: antiquewhite;
}

.container-lenguajes {
    background-color: #cfb5fb;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
}